<div class="card-group">
	<div class="card mb-3">
      <a href="#">
        <img class="card-img-top img-fluid w-100" id="img" src="https://unsplash.it/700/450?image=610" alt="">
      </a>
      <div class="card-body">
        <div class="row">
          <h2 style="margin-left:10px; margin-top:80px" class="card-title mb-1" id="vsTitle">그냥 살기</h2>
          <svg style="margin-left:50%;" id="fillgauge" width="19%" height="200" onclick="gauge2.update(NewValue());"></svg>
        </div>
        <hr class="my-0">
        <p style="margin-bottom:10%;" class="card-text small" id="vsContent">파인애플 피자가 싫은건가? 아니면 그냥 1달 동안 같은거 먹는게 싫은건가?
        </p>
      </div>
      <hr class="my-0">
      <div class="card-body py-2 small">
        <a class="mr-3 d-inline-block">
          <div id="likePoint">1</div>
          <button class="mr-3 d-inline-block link"  onclick="like(this);" id="likePost">
            <i class="fa fa-fw fa-thumbs-up"></i>Like
          </button>
        </a>
        <button class="mr-3 d-inline-block link"  onclick="sliding(this);" id="commentup">
          <i class="fa fa-fw fa-comment"></i>댓글
        </button>
      </div>
      <hr class="my-0">
      <div class="card-body small bg-faded" id="comment">
        <div class="input-group" style="padding-top:5%">
          <input type="name" id="pushComment" class="form-control">
          <button type="button" onclick="comm(this);"  id="push" class="btn btn-primary">등록</button>
        </div>

      </div>
      
    </div>
    
    
    <div class="card mb-3">
      <a href="#">
        <img class="card-img-top img-fluid w-100"  id="img2" src="https://unsplash.it/700/450?image=610" alt="">
      </a>
      <div class="card-body">
        <div class="row">
          <svg style="margin-left:65px;" id="fillgauge2" width="19%" height="200" onclick="gauge2.update(NewValue());"></svg>
          <h2 style="margin-left:50%; margin-top:80px" class="card-title mb-1" id="vsTitle2">100만원 받고 1달 동안 파인애플 피자만 먹기</h2>
        </div>
        <hr class="my-0">
        <p style="margin-bottom:10%;" class="card-text small" id="vsContent2">콜라는 줍니다. 단 한 끼에 피자 꼭 하나 이상 먹어야함.
        </p>
      </div>
      <hr class="my-0">
      <div class="card-body py-2 small">
        <a class="mr-3 d-inline-block">
          <div id="likePoint2">1</div>
          <button class="mr-3 d-inline-block link" onclick="like(this);" id="likePost2">
            <i class="fa fa-fw fa-thumbs-up"></i>Like
          </button>
        </a>
        <button class="mr-3 d-inline-block link" onclick="sliding(this);" id="comment2up">
          <i class="fa fa-fw fa-comment"></i>댓글
        </button>
      </div>
      <hr class="my-0">
      <div class="card-body small bg-faded" id="comment2">

        <div class="input-group" style="padding-top:5%">
          <input type="name" id="pushComment2" class="form-control">
          <button type="button" onclick="comm(this);"  id="push2" class="btn btn-primary">등록</button>
        </div>
        
      </div>
      
    </div>
    
</div>
