<div class="media" style="padding-top:2%">
  <div class="media-body">
    <h6 class="mt-0 mb-1"><a id="userName" href="#">John Smith</a></h6><a id="content">Very nice! I wish I was there! That looks amazing!</a>
    <ul class="list-inline mb-0">
      <li class="list-inline-item">
        <button class="mr-3 d-inline-block link" onclick="" id="like">1</button>Like
      </li>
      <li class="list-inline-item">·</li>
      <li class="list-inline-item">
        <a href="#">Reply</a>
      </li>
    </ul>
  </div>
</div>